@import url(base.css);
.bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background: #f4f4f4;*/
}
.click-area{
    width: 4.87rem;
    height:3.50rem;
    /*background: #ffcb2e;*/
    top: 0.5rem;
    margin-left:1.37rem;
    margin-top: 3.81rem;
    position: relative;
}
img{
    width: 4.87rem;
    height:3.50rem;
    text-align: center;
}
.symbol img {
    width: 1.04rem;
    height: 0.94rem;
    margin-left: 1.81rem;
    position: absolute;
    top: 0.62rem;
}
.confirm{
    width: 2.67rem;
    height: 0.39rem;
    /*background: #3de43e;*/
    margin-top: 0.01rem;
    margin-left:1.2rem;
    /*position: relative;*/
    /*overflow: hidden;*/
}
.confirm-n{
    font-size: 0.15rem;
    color: #b3b6b4;
    margin-top: -1.95rem;
}
.sure{
    width: 1.23rem;
    height: 0.57rem;
    background: #3de43e;
    position: relative;
    margin-left: 0.8rem;
    border-radius:0.5rem;
    background-image:-webkit-linear-gradient(top,#3de43d,#3de43d);
    box-shadow:0 0.02rem 0.02rem 0.02rem #3de43d;
}
.sure-n{
    font-size: 0.25rem;
    color: #fafafa;
    line-height: 0.67rem;
    margin-left: 0.35rem;
    position: absolute;
}
.cancle{
    width: 1.23rem;
    height: 0.57rem;
    background: #b1f2c8;
    /*position: relative;*/
    margin-top: 0.15rem;
    border-radius:0.5rem;
    margin-left: 1.9rem;
    background-image:-webkit-linear-gradient(top,#9af1b1,#b8f2cf);
    box-shadow:0 0.02rem 0.02rem 0.02rem #b8f2cf;
}
.cancle-n{
    font-size: 0.25rem;
    color: #fafafa;
    line-height: 0.67rem;
    margin-left: 0.35rem;
    /*position: absolute;*/
}