@import url(base.css);
.bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f4f4f4;
}
.click-area{
    width: 6.19rem;
    height:4.82rem
    background: #ffcb2e;
    margin: 1.5rem;
    line-height: 3.5rem;
    /*text-align: center;*/
    position: relative;
    top: 0.5rem;
    overflow: hidden;
}
.symbol{
    width: 1.04rem;
    height: 0.94rem;
    /*background: #3de43e;*/
    position: relative;
    top: -5.0rem;
    line-height: 0.94rem;
    left: 2.71rem;
}
.confirm{
    width: 2.87rem;
    height: 0.39rem;
    /*background: #3de43e;*/
    position: absolute;
    margin-top: -4.8rem;
    margin-left: 1.78rem;
}
.confirm-n{
    font-size: 0.24rem;
    color: #b3b6b4;
    text-align: center;
    line-height: 0.39rem;
}
.sure{
    width: 1.53rem;
    height: 0.67rem;
    background: #3de43e;
    position: absolute;
    margin-top: -4.0rem;
    margin-left: 1.4rem;
    border-radius:0.5rem;
    background-image:-webkit-linear-gradient(top,#3de43d,#3de43d);
    box-shadow:0 0.02rem 0.02rem 0.02rem rgba(0,0,0,0.2);
}
.sure-n{
    font-size: 0.25rem;
    color: #fafafa;
    line-height: 0.67rem;
    margin-left: 0.49rem;
}
.cancle{
    width: 1.53rem;
    height: 0.67rem;
    background: #b1f2c8;
    position: absolute;
    margin-top: -0.65rem;
    border-radius:0.5rem;
    margin-left: 1.9rem;
    background-image:-webkit-linear-gradient(top,#9af1b1,#b8f2cf);
    box-shadow:0 0.02rem 0.02rem 0.02rem rgba(0,0,0,0.2);
}
.cancle-n{
    font-size: 0.25rem;
    color: #fafafa;
    line-height: 0.67rem;
    margin-left: 0.49rem;
}