@import url(base.css);
*{
    margin: 0;
    padding: 0;
}
.bg{
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed ;
    /*background: #ffcb2e;*/
}
.success{
    width: 4.87rem;
    height: 3.5rem;
    /*background: #3de43e;*/
    margin: 3.81rem auto;
    position: relative;
}
.success img{
    width: 4.87rem;
    height: 3.5rem;
}
.film{
    width: 1.86rem;
    height: 0.24rem;
    font-size: 0.24rem;
    color: #9b9e9c;
    position: absolute;
    top: 5.46rem;
    left:2.96rem;
}
.foot{
    width: 3.65rem;
    height: 0.72rem;
    background: #3add52;
    border-radius: 0.5rem;
    position: absolute;
    top:5.9rem;
    left:1.92rem
}
.foot_word{
    font-size: 0.4rem;
    color: #fafafa;
    position: absolute;
    line-height: 0.72rem;
    left:1.2rem;
}